
html { 
    background: url("https://wallpapers.com/images/high/red-and-blue-calculators-yxm0myfzuym67431.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }